@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("https://i.redd.it/1xjv6ju5rkkb1.png") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
  margin: 40px auto;
  padding: 40px;
  border-radius: 10px;
  max-width: 1000px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}

.btn {
  background-color: #1c40ab;
  color: #fff;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #142e7b;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: none;
}

.btn-block {
  width: 100%;
  display: block;
}

.header-btns {
  position: absolute;
  top: -40px;
  right: 20px;
  display: flex;
  gap: 10px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 10px;
}

input:not([type="checkbox"]),
textarea {
  border: 1px solid #dfdfdf;
  background-color: #fdfcfb;
  color: #393939;
  transition: border-color 0.2s ease-in-out;
  font-size: 16px;
  line-height: 22px;
  height: 50px;
  padding: 0 20px;
  width: 100%;
  border-radius: 25px;
  margin-top: 20px;
}

textarea {
  height: 200px;
  padding-top: 10px;
}

input:focus {
  border-color: #484c53;
  outline: none;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control-check {
  display: flex;
  align-items: center;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

input[type="checkbox"] {
  width: auto;
  height: 20px;
  margin-right: 20px;
}

.books-container {
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fdfcfb;
  margin-bottom: 30px;
}

table th,
table td {
  padding: 15px 30px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

table tr:first-child th,
table tr:first-child td {
  border-top: 1px solid #ccc;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 1px solid #ccc;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 1px solid #ccc;
}

table.is-style-stripes tr:nth-child(odd) {
  background-color: transparent !important;
}

.books-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 30px 20px;
  }

  .books-list {
    grid-template-columns: 1fr 1fr;
  }

  .header-btns {
    position: static;
    margin-top: 20px;
    justify-content: flex-end;
  }
}

@media (max-width: 576px) {
  .books-list {
    grid-template-columns: 1fr;
  }
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page h1,
.login-page p {
  text-align: center;
}

.login-page p {
  margin-bottom: 24px;
}

.login-page .login-type {
  text-align: center;
}

.login-page .add-form.login {
  width: 600px;
  max-width: 100%;
}

.login-page .add-form .error {
  text-align: center;
  color: red;
  margin-top: 8px;
}

.login-page p.forgot-password {
  margin-top: 12px;
  color: #0000ee;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.login-page.container button.btn.selected,
.login-page.container button.btn.login {
  background-color: #3e3e3e;
  color: #fff;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #00ff5e;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.floating-button:hover {
  background-color: #00b339;
}

.full-page-loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page-loader .lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.full-page-loader .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #bcbcbc;
  border-color: #bcbcbc transparent #bcbcbc transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
